/*css of backend slideshow plugin*/

#slides-backend .lelesys-plugin-nodetypes-slideshowitem {
	float: left;
	margin-right: 10px;
}

#slides-backend img {
	width: 200px;
	height: 150px;
}
.carousel-indicators {
    display: inline-table;
    left: 18%;
    margin: 0 auto;
    top: 0;
    width: 40%;
}