{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
<f:security.ifAccess privilegeTarget="Neos.Neos:Backend.GeneralAccess">
	<f:then>
		<div>
			<f:if condition="{image}">
				<f:then>
					<img src="{f:uri.resource(resource: image.resource)}" alt="image" width="200"/>
				</f:then>
				<f:else>
					<img src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.png')}" title="Dummy image" alt="Dummy image" />
				</f:else>
			</f:if>
		</div>
	</f:then>
	<f:else>
		<div class="item">
			<f:if condition="{image.resource}">
				<f:then>
					<f:if condition="{slideShowContainerProperty.lightBox}">
						<f:then>
							<a href="{f:uri.resource(resource: image.resource)}"><img src="{f:uri.resource(resource: image.resource)}" alt="image"/></a>
						</f:then>
						<f:else>
							<img src="{f:uri.resource(resource: image.resource)}" alt="image"/></f:else>
					</f:if>
				</f:then>
			</f:if>
			<f:if condition="{sliderImageTitle}">
				<f:then>
					<div class="carousel-caption">
						<h4>{sliderImageTitle -> f:format.raw()}</h4>
						<f:if condition="{sliderImageDescription}">
							<f:then>
								<p>{sliderImageDescription -> f:format.raw()}</p>
							</f:then>
						</f:if>
					</div>
				</f:then>
			</f:if>
		</div>
	</f:else>
</f:security.ifAccess>
